{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ block.super }} - Log in{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        <fieldset>
            <legend>{% trans "Log in" %}</legend>

            <table>
                <tbody>
                {{ form.as_table }}
                <tr>
                    <th></th>
                    <td>
                        <button type="submit">{% trans "Log in" %}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
{% endblock %}